---
layout: default
id: koncerty
---

<script>
window.onload = function() {
    var head = document.getElementsByTagName('h1')[0]
    var index = (new Date()).getHours()
    var img = "url(img/" + index + ".png)"
    head.style.backgroundImage = img
}
</script>

<h2>Koncerty</h2>
{% assign upcomingGigs = site.data.koncerty | where: "aktualni", "ano" %}
{% for gig in upcomingGigs %}
<div class="gig">
    <p class="title"><span class="date">{{ gig.datum }}</span> {{ gig.nazev }}</p>
    {% if gig.program %}
    <p class="playlist">{{ gig.program }}</p>
    {% endif %}
    {% if gig.text %}
    <p class="details">{{ gig.text }}</p>
    {% endif %}
    <p class="where">{{ gig.misto }}</p>
</div>
{% endfor %}
<p class="footer">
    <a href="mailto:zn.kristyna@gmail.com">kontakt</a> ✽
    <a href="cv.html">životopis</a>
</p>
