<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kristýna Znamenáčková</title>
    <link rel="stylesheet" href="style.css">
    <meta property="og:title" content="Kristýna Znamenáčková">
    <meta property="og:image" content="http://i.imgur.com/QvzFQ8n.jpg">
</head>
<body class="{{ page.id }}">
    <div class="container">
        <h1><span>Kristýna Znamenáčková</span></h1>
        <div class="content">
            {{ content }}
        </div>
    <div class="container">
</body>
</html>
